Features/RemoveMissingProject/XSD/HAmissingsetupfiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HAMissingSetupFilesTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HAMissingSetupFilesRow" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HAMissingSetupFilesRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ContentDatabase" type="xs:string"/>
        <xs:element name="Feature" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
